.page-top{
    margin-top: 40px;
}

[class*="anker"] {
    text-decoration: none;
}

[class*="button"] {
    background-color: var(--root-color);
    color: white;
    padding: 10px 24px;
}

[class*="button"]>.fa-solid {
    color: white;
}
