.page-top{
    margin-top: 40px;
}

.card-footer button{
    background-color: rgba(244, 150, 209,.2);
    color:#3F87F5 ;
}
.start-85{
    left:85% !important;
}

.shadow-bottom-lg {
    box-shadow:0 1rem 1rem -.4rem rgba(0, 0, 0, .175) !important
}


.my-8 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important
}
.my-12 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important
}

.h-custom-50{
    height: 15rem;
}

.download img{
    width: 25%;

} 
@media only screen and (max-width:1024px) {

    .download img{
        width: 28%;
    }
}
@media only screen and (max-width:992px) {

    .download img{
        width: 30%;
    }
}
@media only screen and (max-width:576px) {

    .download img{
        width: 60%;
    }
}
