.page-top{
    margin-top: 40px;
}

.card-footer button{
    background-color: rgba(244, 150, 209,.2);
    color:#3F87F5 ;
}
.start-85{
    left:85% !important;
}

.shadow-bottom-lg {
    box-shadow:0 1rem 1rem -.4rem rgba(0, 0, 0, .175) !important
}
